CONSUMER_KEY=<your consumer key from External Client App>
CONSUMER_SECRET=<your consumer secret>
SF_USERNAME=<your salesforce username>
SF_LOGIN_URL=https://login.salesforce.com
TENANT_URL=https://<tenant-id>.c360a.salesforce.com
PRIVATE_KEY_FILE=/path/to/server.key
CONNECTOR_NAME=Badge_Scanner
OBJECT_NAME=Badge_Scan
